h1{
    font-family: 'Roboto Slab', serif;
    font-size: 45.33px;
    color: #0a2ff1;
    font-weight: 700;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #04146c;
    font-weight:700;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #04146c;
}

body{
    background-image: url(M5-Desafio3-img.png);
    background-position: 900px 175px;
    background-repeat: no-repeat;
    width: 50%;
    background-size: 50%;
}

footer{
    background: url(M5-logo-blanco.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width:100%;
    position:absolute;
    left:0;
    bottom: 0;
    background-color:#3957F1;
    height:75px;
}